[report]
omit =
    */venv/*
    */click*
    */flask*
    */jinja2*
    */jwt*
    */werkzeug*
    */ctypes/*
    */html/*
    */http/*
    */encodings/*
    */numbers.py
    */mimetypes.py 
    */uuid.py 
    */hmac.py 
    */stringprep.py
    */decimal.py




