/*We connect App css */
.body a{
  color: #fff;
}
.wrapper{
  background-color: #fff;
  margin-top: 15%;
}
.jumbotron-home{
  height: 300px;
}
.bsprofile{
 margin-top: -90px;
 margin-left: 12%;
}
.review-img{
  float: left;
  margin-right: 20px;
}
.reviews{
  
}
.navbar-light{
    
}
.profile-img{
    
}

.bg-transparent{
  background-color: transparent;
}